
<article class="post">
    
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}} </span>
    </div>
    <div class="text">
        {{post_text}}
    </div>
    
</article>