
<article class="post">

    <div class="title">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <span>Posted by {{post.user.username}} on {{post.created_at}} </span>
    </div>
    <div class="text">
        {{post.post_text}}
    </div>
    <div class="meta">
        <a href="/post/{{post.id}}">{{post.comments.length}} comments(s)</a>
    </div>

</article>

{{!-- if user is logged in show comment form --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<div class="comments">
    {{#each post.comments}}
    <section class="comment">
        <div class="meta">
        {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>

{{#if logged}}
<script src="/javascript/comment.js"></script>
{{/if}}